@import "../../scss/variables";

.footer {
  background-color: $green;
  width: 100%;
  padding: $padding-inner;
  padding-top: 40px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 10px;
}

.footer__topColumn {
  display: flex;
  flex-direction: column;
}

.first__topColumnText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 8px;
  width: 179px;
}

.first__topColumnImg {
  margin-right: 16px;
}

.footer__topColumnText {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}

.last {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  width: 192px;
  margin-top: -8px;
}

.footer__topColumnLastTop {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.footer__topColumnLastTopText {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 19px;
}

.socialIcon {
  margin-right: 28px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__bottom span {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}