/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 100;
  src: local("Gliroy-Thin"), url("./fonts/Gilroy-Thin.ttf") format("ttf"),
    url("./fonts/Gilroy-Thin.woff2") format("woff2"),
    url("./fonts/Gilroy-Thin.woff") format("woff"),
    url("./fonts//Gilroy-Thin.eot") format("eot");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gliroy-UltraLight"),
    url("./fonts/Gilroy-UltraLight.ttf") format("ttf"),
    url("./fonts/Gilroy-UltraLight.woff2") format("woff2"),
    url("./fonts/Gilroy-UltraLight.woff") format("woff"),
    url("./fonts//Gilroy-UltraLight.eot") format("eot");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gliroy-Light"),
    url("./fonts/RadomirTinkov-Gilroy-Light.otf") format("otf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gliroy-Regular"), url("./fonts/Gilroy-Regular.ttf") format("ttf"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts//Gilroy-Regular.eot") format("eot");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gliroy-Medium"), url("./fonts/Gilroy-Medium.ttf") format("ttf"),
    url("./fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy-Medium.woff") format("woff"),
    url("./fonts//Gilroy-Medium.eot") format("eot");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gliroy-Semibold"),
    url("./fonts/Gilroy-Semibold.ttf") format("ttf"),
    url("./fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("./fonts/Gilroy-Semibold.woff") format("woff"),
    url("./fonts//Gilroy-Semibold.eot") format("eot");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gliroy-Bold"), url("./fonts/Gilroy-Bold.ttf") format("ttf"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts//Gilroy-Bold.eot") format("eot");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gliroy-ExtraBold"),
    url("./fonts/RadomirTinkov-Gilroy-ExtraBold.otf") format("otf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: local("Gliroy-Black"), url("./fonts/Gilroy-Black.ttf") format("ttf"),
    url("./fonts/Gilroy-Black.woff2") format("woff2"),
    url("./fonts/Gilroy-Black.woff") format("woff"),
    url("./fonts//Gilroy-Black.eot") format("eot");
}

html {
  height: 100%;
}

body {
  font-family: "Gilroy";
  font-weight: 400;
  height: 100%;
}
